body {
    font-size: 1.5vh;
    list-style: none;
}

div {
    position: absolute;
    /* border: 0.3px solid lightgray; */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    /* background-color: aqua; */
}

.closet {
    width: 20vw;
    height: 30vh;
    left: 10vw;
    top: 15vh;
    /* background-color: aliceblue; */
}

.closet ul {
    transform: rotate(45deg);
}

.bathroom {
    width: 10vw;
    height: 30vh;
    left: 30vw;
    top: 15vh;
    /* background-color:aqua; */
}

.kitchen {
    width: 20vw;
    height: 30vh;
    left: 32vw;
    top: 15vh;
    line-height: 10px;
    /* background-color: yellowgreen; */
}

.kitchen ul {
    writing-mode: vertical-rl;
    text-orientation: upright;
    line-height: 1.2;
    transform: rotate(5deg);
    word-spacing: -1em;
}

.bedroom {
    width: 20vw;
    height: 30vh;
    left: 65vw;
    top: 15vh;
    /* background-color:cadetblue; */
}

.bedroom ul {
    text-align: right;
    right: 0;
    top:5vh;
    transform: rotate(-8deg);
}

.workroom {
    width: 30vw;
    height: 40vh;
    left: 60vw;
    top: 45vh;
    /* background-color: indianred; */
}

.workroom ul {
    text-align: right;
    right: 0;
    transform: rotate(-32deg);
}


.living {
    width: 30vw;
    height: 40vh;
    left: 30vw;
    top: 45vh;
    /* background-color: greenyellow; */
}

.living ul {
    text-orientation: upright;
    writing-mode: vertical-rl;
    bottom:0px;
    text-align: right;
    line-height: 1.2;
    transform: rotate();
    word-spacing: -1em;
    /* border: 1px solid black; */
}


.entrance {
    width: 10vw;
    height: 20vh;
    left: 20vw;
    top: 45vh;
    /* background-color: lemonchiffon; */
}

.entrance ul {
    transform: rotate(-17deg);
}